@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif !important;
  color: #666666;
  font-size: 16px;
  line-height: 28px;
  scroll-behavior: smooth !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #232323;
}
.container {
  width: 1300px !important;
  margin: auto;
  padding: 0 20px;
}
.animated_color {
  color: #fff;
  padding: 12px 20px;
  font-weight: bold;
  animation: myanimation 10s infinite;
}
.dropShadow {
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 70%));
}
.rotateOnHover:hover span {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.rotateHover h2 {
  transition: 1.5s all;
}
.rotateHover:hover h2 {
  transform: rotateY(360deg);
  transition: 1.5s all;
  background: #fba42b;
  color: #fff;
}
/* homepage slider css starts */

.myslide {
  position: relative !important;
  padding: 100px 0;
}

.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  color: #fba42b !important;
}
.mySwiper .swiper-pagination-bullet {
  background: #d7d7d7;
  width: 20px;
  height: 20px;
  opacity: 1;
}
.mySwiper .swiper-pagination-bullet-active {
  background: #fba42b;
}

/* homepage slider css ends */

/* homepage about css starts */

.rounded_image {
  position: relative;
}
.rounded_image img,
.about_image img {
  box-shadow: 0 0 38px 0 rgb(0 0 0 / 8%);
}

.heading_divider:before {
  content: "";
  position: absolute;
  left: -15px;
  width: 10px;
  height: 2px;
  background: #fba42b;
}
/* .teamSwiper .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: transparent;
  border: 2px solid #cbc3b7;
}
.teamSwiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fbb040;
  border-color: #fbb040;
}
.teamSwiper .swiper-pagination {
  bottom: -48px !important;
} */
/* homepage about css ends */

/* homepage portfolio css starts */
.myportfolio.swiper {
  position: relative;
  overflow: visible;
  overflow-x: clip !important;
}
.project-item {
  position: relative;
  overflow: visible;
}
.project-item .project-img {
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
}

.project-content {
  box-shadow: 0 6px 25px rgb(0 0 0 / 7%) !important;
  position: absolute;
  bottom: -40px;
  left: 35px;
  right: 35px;
  padding: 20px 0;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  z-index: 10;
  text-align: center;
}
.tab_inactive {
  background: #fff;
}
.tab_active {
  background: #f49f2a;
}
.project-item:hover .project-content {
  bottom: -50px;
}
.project-item .project-img img {
  width: 100%;
  transition: all 1.3s ease;
  border-radius: 5px;
}
.project-item:hover .project-img img {
  transform: scale(1.3);
}
.myportfolio .swiper-button-prev,
.myportfolio .swiper-button-next {
  color: #fba630;
  background: #8f8c89b0;
  padding: 32px 33px;
  border-radius: 50%;
  width: 20px !important;
}
/* homepage portfolio css ends */

/* homepage blog css starts */

.date {
  position: absolute;
  left: 20px;
  bottom: -30px;
  background: #fff;
  box-shadow: 0 0 38px 0 rgb(0 0 0 / 8%);
  padding: 15px 20px;
  border-radius: 5px;
}
.blogCardTitle,
.blogCardDes {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}
.blogCardDes {
  -webkit-line-clamp: 3;
}
/* homepage blog css ends */

/* homepage team css starts */
.team_wrapper:hover .content_wrapper {
  opacity: 1 !important;
}

/* homepage team css ends */

/* homepage testmonials css starts */

.mytestimonial.swiper {
  overflow: visible;
  position: relative;
  overflow-x: clip !important;
}

/* homepage testmonials css ends */

/* homepage contactUs css starts */

.contact_form input,
.contact_form textarea,
.contact_form input,
.contact_form select {
  width: 100%;
  height: 60px;
  padding: 15px 20px !important;
  background: #f4f4f4 !important;
  border-radius: 4px;
}
.contact_form label {
  font-size: 14px;
}
.contact_form textarea {
  height: 120px !important;
}

/* homepage contactUs css ends */
.my_Swiper {
  display: flex;
  column-gap: 24px;
}
.my_slide {
  width: 206px !important;
}

@keyframes myanimation {
  0% {
    background-color: red;
  }
  25% {
    background-color: #fba42b;
  }
  50% {
    background-color: green;
  }
  75% {
    background-color: grey;
  }
  100% {
    background-color: red;
  }
}

/* about page css starts */
.page_title_banner {
  background: url(/images/banner.jpg) no-repeat;
  padding: 115px 20px;
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
}
.page_title_banner:before {
  background: rgba(0, 0, 0, 0.8);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.page_title_banner h1 {
  color: #fff;
  position: relative;
  font-size: 35px;
  font-weight: bolder;
  line-height: 50px;
}
.about_image.abt_none:after {
  display: none;
}
.about_image.abt_none {
  margin: 0;
  padding: 0;
}
/* about page css ends */

/* social-icon bar css starts */

.icon-bar {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 9999;
}

.icon-bar a {
  display: flex;
  align-items: center;
  column-gap: 8px;
  text-align: center;
  padding: 6px 4px 6px 14px;
  min-width: 130px;
  transition: all 0.5s ease;
  color: white;
  font-size: 18px;
  border-radius: 50px 0 0 50px;
  margin: 4px 0;
  transform: translate(96px, 0px);
}
.icon-bar a:hover {
  transform: translate(0px, 0px);
}
.facebook {
  background: #3b5998;
  color: white;
}

.instagram {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  color: white;
}

.google {
  background: #e8433c;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}
.indeed {
  background: #003996;
  color: white;
}

/* social-icon bar css ends */
.dropbtn {
  color: #000;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  width: 325px;
  z-index: 2;
  left: 0px;
  top: 80px;
}

.dropdown-content a {
  color: black;
  padding: 20px;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* Training css starts */
.box-after {
  position: absolute;
  bottom: -80px;
  right: -80px;
  width: 215px;
  height: 200px;
  color: #fff;
  background: #ffa5454d;
  transition: all 0.3s linear;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.top-tile {
  background: #ffa5454d;
}

.tile-main:hover .box-after {
  background: #fba42b;
}
.tile-main:hover .top-tile {
  background: #fba42b;
}

/* Training css ends */

/*Single-portfolio css starts*/
.library_tools {
  background: #f5f5f5;
}
.tool_card img {
  filter: grayscale(1);
  transition: 0.5s;
}
.tool_card:hover.tool_card img {
  filter: grayscale(0) !important;
}
/*Single-portfolio css ends*/

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  height: 50px;
  z-index: 12;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.menu-items {
  order: 2;
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #fba42b;
  transition: color 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }
  .navbar-container {
    display: block;
    position: relative;
    height: 100%;
  }
  .header {
    min-height: 90px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9999;
  }
  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    top: 50%;
    right: 20px;
    z-index: 5;
    opacity: 0;
  }
  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 61%;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    transform: translate(-185%);
    display: flex;
    width: 100%;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }
  .container {
    max-width: 100% !important;
    margin: auto;
  }
  .top-10 {
    top: 0;
  }
  .swiper-slide {
    width: 100% !important;
  }
  .navbar {
    opacity: 0.95;
  }
  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }
}

@media (max-width: 768px) {
  .myslide:before,
  .myslide::after {
    display: none;
  }
  .myslide {
    background: none;
    padding: 0;
  }
  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 2rem;
  }

  .mySwiper .swiper-pagination {
    display: none;
  }
  .subscribeBtn button:before {
    font-size: 18px !important;
    padding: 13px 44px 16px !important;
    line-height: 24px !important;
  }
}
@media (min-width: 501px) and (max-width: 767px) {
  .blogBox {
    width: 53%;
  }
  .project-content {
    width: 50%;
    margin: auto;
  }
}

@media (max-width: 430px) {
  .blogBox {
    width: 100% !important;
  }
}
@media (max-width: 500px) {
  .navbar .menu-items li {
    font-size: 1.6rem;
  }
  .blogBox {
    width: 80%;
  }
  .testimonial-container {
    flex-direction: column;
    text-align: center;
  }

  .food-menu-container img {
    margin: auto;
  }

  .food-menu-item {
    flex-direction: column;
    text-align: center;
  }

  .form-container {
    width: 90%;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
  }

  .contact-img {
    width: 90%;
    margin: 3rem auto;
  }

  .logo {
    position: absolute;
    top: 06px;
    right: 15px;
    font-size: 3rem;
  }

  .navbar .menu-items li {
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    font-weight: 500;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .project-content {
    left: 0;
    right: 0;
    text-align: center;
    width: 90%;
    margin: auto;
  }
}

.btnWrapper a,
.btnWrapper a > span {
  position: relative;
  text-decoration: none;
  line-height: 24px;
}
.btnWrapper a:before,
.btnWrapper a:after,
.btnWrapper a > span:before,
.btnWrapper a > span:after {
  content: "";
  position: absolute;
  transition: transform 0.5s ease;
}
.readMoreBtn {
  display: inline-block;
  overflow: hidden;
}
.readMoreBtn:before,
.readMoreBtn:after {
  right: 0;
  bottom: 0;
  background: #fba42b;
}
.readMoreBtn:before {
  width: 100%;
  height: 2px;
  transform: translateX(-100%);
}
.readMoreBtn:after {
  width: 2px;
  height: 100%;
  transform: translateY(100%);
}
.readMoreBtn > span {
  display: flex;
}
.readMoreBtn > span:before,
.readMoreBtn > span:after {
  left: 0;
  top: 0;
  background: #fba42b;
}
.readMoreBtn > span:before {
  width: 100%;
  height: 2px;
  transform: translateX(100%);
}
.readMoreBtn > span:after {
  width: 2px;
  height: 100%;
  transform: translateY(-100%);
}
.readMoreBtn:hover:before,
.readMoreBtn:hover:after,
.readMoreBtn:hover > span:before,
.readMoreBtn:hover > span:after {
  transform: translate(0, 0);
}

/*****Solid Button Hover CSS start*****/
.solidBtnOuter button {
  color: rgba(255, 255, 255, 0.8);
  position: relative;
  display: block;
}

.solidBtn button span {
  transition: transform 0.3s;
}
.solidBtn button:before {
  position: absolute;
  top: 1px;
  left: 0;
  z-index: -1;
  padding: 13px 20px 16px;
  width: 100%;
  height: 100%;
  background: #403d3d;
  color: #fff;
  border: 2px solid #403d3d;

  content: attr(data-hover);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.5s;
  -webkit-transform: translateX(-25%);
}

.solidBtn button:hover span,
.solidBtn button:focus span {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  transform: translateX(101%);
}

.solidBtn button:hover:before,
.solidBtn button:focus:before {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  transform: translateX(0%);
}
.subscribeBtn button:before {
  font-size: 24px;
  padding: 16px 44px;
}
.solidBtn button:focus:before {
  background: #fba42b;
  border: 1px solid #fba42b;
}
/*****Solid Button Hover CSS end*****/

/*****Outline Button Hover CSS end*****/
.outlineBtn span {
  transition: 0.3s;
}
.outlineBtn.hoverBtn::before,
.outlineBtn.hoverBtn::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fba42b;
  z-index: 2;
  transition: 0.8s;
}
.outlineBtn.hoverBtn::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
}
.outlineBtn.hoverBtn::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
}
.outlineBtn.hoverBtn:hover::before,
.outlineBtn.hoverBtn:hover::after {
  position: absolute;
  content: "";
  width: 0%;
  transition: 0.2s 0.2s ease-out;
}

.outlineBtn.hoverBtn span::before,
.outlineBtn.hoverBtn span::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #fba42b;
  z-index: 2;
  transition: 0.25s;
}
.outlineBtn.hoverBtn span::before {
  position: absolute;
  content: "";
  bottom: 0;
  right: -2px;
}
.outlineBtn.hoverBtn span::after {
  position: absolute;
  content: "";
  top: 0;
  left: -2px;
}
.outlineBtn.hoverBtn span:hover::before,
.outlineBtn.hoverBtn span:hover::after {
  position: absolute;
  content: "";
  height: 0%;
}
/*****Outline Button Hover CSS end*****/

/*******Additional CSS Starts********/
.courseBoxWrapper {
  animation: scroll 10s linear infinite;
}
.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.card-content-wrapper p.mb-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
/*******Additional CSS Ends********/
.floating-text {
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation: floating 1.5s ease infinite;
  background: #fba42b;
}
@keyframes floating {
  30% {
    transform: scale(1.2);
  }
  40%,
  60% {
    transform: rotate(-10deg) scale(1.2);
  }
  50% {
    transform: rotate(10deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-90%);
  }
}

.contact-banner .ReactModal__Overlay .ReactModal__Overlay--after-open {
  z-index: 30 !important;
}
.ReactModal__Overlay--after-open {
  z-index: 30 !important;
  background-color: rgb(38 38 38 / 85%) !important;
}
/* .swiper {
  z-index: -1 !important;
  
} */
.contact-section {
  position: relative;
}
input:-internal-autofill-selected {
  background-color: transparent !important;
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

@keyframes slideArrow {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

.arrow-line-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  width: 2px;
  background: #edebea;
  height: 0;
  animation: slideArrow 3s ease-in-out forwards;
}

.arrowhead {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #fba42b;
  margin-top: -8px;
}

.animate-slide-arrow .line {
  animation: slideArrow 4s ease-in-out forwards;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-animation {
  animation: rotate 30s linear infinite;
}

.rotate-animation:hover {
  animation-play-state: paused;
}

.smooth {
  transition: all 300ms ease-in-out;
}

@keyframes marquee {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-1 * var(--scroll-height)));
  }
}

.animate-marquee {
  animation: marquee var(--animation-duration) linear infinite;
}

.animate-marquee.paused {
  animation-play-state: paused;
}

.perspective-1000 {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.messageItem .slick-dots li.slick-active button:before {
  color: #fba42b !important;
  font-size: 15px;
}
.messageItem .slick-dots li:hover button:before {
  color: #fba42b !important;
  font-size: 13px;
}

.messageItem .slick-track {
  height: 290px;
}

.slick-prev {
  left: -314px;
  bottom: 79px;
  top: 385px;
}

.slick-next {
  right: -17px;
  left: -255px;
  top: auto !important;
}

.slick-prev:before,
.slick-next:before {
  opacity: 0 !important;
}

.bg-portfolio {
  background-color: #000000d6;
  background-image: url("/images/portfolio-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}
